<%- include("./partials/header")%>
<h1 style="color: yellow;"> INFO ABOUT MOVIE</h1>
    <div class="jumbotron">
        <h1 class="display-4"><b style="text-align:centre;"><%=movie.Title%></b></h1>
        <br>
       <div style="text-align:centre"><img src="<%=movie.Poster%>" alt=<%=movie.Title%> class="mychange"></div>
        <hr class="my-4" style="background-color: red;width:100%;">
        <p class="lead">
            <ol type="1">
                <h2><li>TITLE:<%=movie.Title%></li></h2>
                <br>
                <h2><li>YEAR:<%=movie.Year%></li></h2>
                <br>
                <h2><li>RATED:<%=movie.Rated%></li></h2>
                <br>
                <h2><li>RELEASED:<%=movie.Released%></li></h2>
                <br>
                <h2><li>RUNTIME:<%=movie.Runtime%></li></h2>
                <br>
                <h2><li>GENRE:<%=movie.Genre%></li></h2>
                <br>
                <h2><li>DIRECTOR NAME :<%=movie.Director%></li></h2>
                <br>
                <h2><li>WRITER:<%=movie.Writer%></li></h2>
                <br>
                <h2><li>ACTORS:<%=movie.Actors%></li></h2>
                <br>
                <h2><li>PLOT:<%=movie.Plot%></li></h2>
                <br>
                <h2><li>IMDBRATING:<%=movie.imdbRating%></li></h2>
                <br>
                <h2><li>BOX OFFICE:<%=movie.BoxOffice%></li></h2>
                <br>
                <h2><li>PRODUCTION:<%=movie.Production%></li></h2>
             </ol>   
        </p>
<%- include("./partials/footer")%>